#####
# Kubeadm join
#
cat <<EOF > /tmp/kubeadm-join-config.yaml
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: ${token}
    unsafeSkipCAVerification: true
    apiServerEndpoint: "${control_plane_url}"
EOF

# Wait for kubeadm init
for i in $(seq 1 100)
do
  kubeadm join --config=/tmp/kubeadm-join-config.yaml
  test $? -eq 0 && break
  sleep 3
done